body{
    
}
#nav{

}
#logo{
    vertical-align: center;
}
#dropdown1{
    width: 200px;
}
#fila-metodo-compra{
    padding-top: 20px;
    padding-bottom: 20px;
}
#parrafo-terminoscondiciones{
    padding-left: 15px;
    padding-right: 15px;
}

#img{
    width: auto;
}
.paneles{
    margin-left: 20px;
    margin-right: 20px;
}
.titulo{
    text-align: center;
}
.log_form{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#log_tt{
    padding-top: 50px;
}
.log_foot{
    height: 200px;
}
#log_btn{
    padding-bottom: 8%;
}