#nav{
    padding-right: 10px;
    padding-left: 10px;
}
#fixednav{
    padding-bottom: 150px;
}
#navlogo{
    padding-left: 5px;
    padding-top: 30px;
    font-size: 75px;
}
nav{
    height: 130px;
}
#imgnav{
    padding-top: 4.5px;
}
#navul{
    padding-top: 66px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
#footer2
{
    height: 50px;
}